.vscode/
__pycache__/
_bak/
_iss/
_minted-*/
_replaced/
build/
dist/
jsx/
out/
pandoc/
pdf2htmlEX/
private/
pythontex*/
*.aux
*.cmd
*.csv
*.gz
*.ilg
*.idx
*.ind
*.lof
*.log
*.pytxcode
*.ps1
*.spec
*.toc
*.vrb