body {
    width: 50em;
    margin-left: 2em;
}

h1 { font-size: 2.0em;                     margin-bottom:1.0em; color: black;} 
h2 { font-size: 1.75em; margin-top:1.75em; margin-bottom:1.0em; color: darkgray;}
h3 { font-size: 1.5em;  margin-top:1.5em;  margin-bottom:1.0em; color: darkblue;}
h4 { font-size: 1.25em; margin-top:1.25em; margin-bottom:1.0em; color: darkgreen;}
h5 { font-size: 1em;    margin-top:1.0em;  margin-bottom:1.0em; color: black;}

h1::after { content: " H1"; font-size: x-small; color: purple;}
h2::after { content: " H2"; font-size: x-small; color: purple;}
h3::after { content: " H3"; font-size: x-small; color: purple;}
h4::after { content: " H4"; font-size: x-small; color: purple;}
h5::after { content: " H5"; font-size: x-small; color: purple;}


task, concept, reference, map, topic, section, sectiondiv {
	display: block;
	margin-left: 1.5em;
	margin-right: 1.5em;
}

title {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0.5em 0 0.25em 0;
}

/* paragraph */

p {
	display: block;
	margin-top: 0.25em;
}

[outputclass="callout-image"] {
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;	
}

info {
	display: block;
	background-color:aliceblue;
}

shortdesc {
	display: inline-block;
	background-color: skyblue;
}

/* admonition */

note {
	display: block;
	margin-left: 0em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-size: 1.5em;
}
[type="note"]::before {
    content: "NOTE";
    font-weight: bold;
    color: gray;
}
[type="notice"]::before {
    content: "NOTICE";
    font-weight: bold;
    color: gray;
}
[type="caution"]::before {
    content: "CAUTION";
    font-weight: bold;
    color: gray;
}
[type="warning"]::before {
    content: "WARNING";
    font-weight: bold;
    color: gray;
}
[type="danger"]::before {
    content: "DANGER";
    font-weight: bold;
    color: gray;
}
/* [type="notice"] {
	background-image: url("notice.svg");
}
[type="caution"] {
	background-image: url("caution.svg");
}
[type="warning"] {
	background-image: url("warning.svg");
} */

/* image */

image {
	display: inline-block;
	color:coral;
	font-size: medium;
}

image::after {
	content: attr(href);
}

/* lists */

ol, ul, sl, steps { 
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-left: 2em; 
	counter-reset:none;
}

li {
    margin-top: 0pt;
    margin-bottom: 0pt;
}

steps > step { 
	display:list-item;
	list-style-type:decimal;
	/* list-style-type:"① "; */
}

ol > li { 
	display:list-item;
    list-style-type:decimal;    
}

ul > li { 
	display:list-item;
	list-style-type: disc;
    padding-bottom: -1em;
}

ul > li > ul > li { 
	display:list-item;
	list-style-type: "– ";
}

sl > sli { 
	display:list-item;
	list-style-type:decimal;
}

/* table */

table {
	display: block;
	/* border: 1px solid #000; */
}

tgroup {
	display: table-row-group;
}

thead {
	display: table-header-group;
	border: 1px solid #000;
}

tbody {
	display: table-row-group;
	border: 1px solid #000;
}

row {
	display: table-row;
	border: 1px solid #000;
}

entry {
	display: table-cell;
	border: 1px solid #000;
	padding: 3px;
}

/* character */

b { font-weight: bolder; }
u { font-family: HYUNDAI_OWNS;}
userinput { font-family: HYUNDAI_OWNS;}

cmdname, uicontrol {
	color:navy;
	font-weight: bolder;
}

[outputclass="menu"] {
	font-weight: bolder;
}

indexterm {
    display: none;
    /* font-size:x-small; */
}

/* hyperlink */

xref::before {
    content: attr(href);
    color:hotpink;
    font-size: smaller;
}

/* map  */

keyword{
	display:list-item;
	list-style-type:circle;
}

mapref, topicref{
	display:list-item;
	list-style-type: none;
	color: black;
}

mapref::before {
	content: attr(href);
}

topicref::before {
	content: attr(href);
    color: green;
    font-size: smaller;
}

[base="0"] {
	margin-left: 0em;
}
[base="1"] {
	margin-left: 1em;
	color: red;
}
[base="2"] {
	margin-left: 1em;
	color: green;
}
[base="3"] {
	margin-left: 1em;
	color: blue;
}
[base="4"] {
	margin-left: 1em;
	color: purple;
}