/* heading */

h1 {
    margin-top: 60px;
    margin-bottom: 30px;
}
h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}
h3 {
    margin-top: 30px;
    margin-bottom: 15px;
}

h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h5 {
    margin-top: 15px;
    margin-bottom: 5px;
}

div.index {
    column-count: 2;
}

/* paragraph */

body {
    line-height:150%;
    text-align: justify;
    }

p {
    text-indent: 1em;
    margin-top: 0%;
    margin-bottom: 0%;
}

.noindent {
    text-indent: 0em;
}

.framed {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px; 
    border-style: solid;
    border-color: #AAAAAA;
    background-color: #EEEEEE;
    padding: 10px;
    text-indent: 0em;
}

hr {
    margin-top: auto;
    margin-bottom: auto;
}

/* character */

sup {
    color: gray;
}

/* image */

figure {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}



figcaption {
    font-size: small;
    font-weight: bold;
    text-align: left;
}

img { 
    max-height: 450px;
}

/* table */

table {
    width: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-collapse: collapse;
}

th, td {
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    padding: 5px;
}

.tsv1, .tsv2, .tsv3, .tsv4 {
    border-top: 0px;
    border-bottom: 0px;
    padding: 0px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

caption{
    font-size: small;
    font-weight: bold;
    text-align: left;
}


/* .endnote{
    font-family: monospace;
} */

span.smallcaps { font-variant: small-caps; }

/* span.normal { font-family: sans-serif; }
span.verbatim { font-family: monospace; } */

/* list */

ol {
    padding-left: 30px;
}

ul {
    padding-left: 30px;
}

ol > li > ol {
    counter-reset: list;
    list-style: none;
    padding-left: 0px;
    margin-top: 10px;
}

ol > li > ol > li:before {
    counter-increment: list;
    content: counter(list, lower-alpha) ") ";
}

dt {
    font-weight: bold;
}

dl.macros > dt {
    font-family: monospace;
    font-weight: bold;
}

/* nav[epub|type~='toc'] > ol > li > ol  {
    list-style-type:square;
}


nav[epub|type~='toc'] > ol > li > ol > li {
        margin-top: 0.3em;
} */

/* source code */

pre{
    background-color: #EEEEEE;
    padding: 10px;
    overflow: auto;
    white-space: pre-wrap; 
    text-indent: 0px;
    font-family: monospace;
}

code{
    font-family: monospace;
}